@font-face {
  font-family: "iconfont"; /* Project id 3847122 */
  src: url('iconfont.eot?t=1736402448069'); /* IE9 */
  src: url('iconfont.eot?t=1736402448069#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff?t=1736402448069') format('woff'),
       url('iconfont.ttf?t=1736402448069') format('truetype'),
       url('iconfont.svg?t=1736402448069#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo2:before {
  content: "\eafe";
}

.icon-fanhuidingbu:before {
  content: "\e637";
}

.icon-eye:before {
  font-size: 20px;
  content: "\e78f";
}

.icon-zhiyezigeqingdan:before {
  font-size: 25px;
  content: "\e8b6";
}

.icon-calendar-v2:before {
  font-size: 14px;
  content: "\e9aa";
}

