@charset "utf-8";

/* ===========================
   全局 Reset & 基础排版
   =========================== */

* {
    word-wrap: break-word
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
th,
td {
    margin: 0;
    padding: 0;
    font-style: normal
}

ul,
ol {
    list-style-type: none
}


/* ===========================
   页面背景与基础字体设置
   =========================== */

body {
    width: 100vw;
    background: url(./img/background.png) repeat 0 0
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input,
button {
    overflow: visible;
    vertical-align: middle;
    outline: 0
}

body,
th,
td,
button,
input,
select,
textarea {
    font-size: 14px;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft YaHei", STXihei, "SimSun", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


/* 小屏字体与滚动条优化 */

@media(max-width :992px) {
    html {
        overflow-y: auto
    }
    body,
    th,
    td,
    button,
    input,
    select,
    textarea {
        font-size: 14px
    }
}


/* 基础行高与定位 */

body {
    line-height: 1.6;
    position: relative
}


/* 链接与图片基础样式 */

a {
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: none;
    outline: 0
}

a:focus {
    outline: 0
}

a:hover,
a:active {
    outline: 0
}

:focus {
    outline: 0
}

img {
    border: 0;
    vertical-align: middle
}

header,
footer,
section,
nav {
    display: block;
    margin: 0;
    padding: 0
}


/* ===========================
   布局：容器与栅格系统
   =========================== */

.container {
    margin-right: auto;
    margin-left: auto
}

.container:after {
    content: "";
    display: block;
    clear: both
}


/* 中等以上屏幕：容器宽度 */

@media(min-width :992px) {
    .container {
        width: 960px
    }
}

@media(min-width :1200px) {
    .container {
        width: 1170px
    }
}

@media(min-width :1300px) {
    .container {
        width: 1270px
    }
}


/* 栅格系统：列基础样式 */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    min-height: 1px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}


/* 中等屏幕及以上：栅格宽度定义（.col-sm-*) */

@media(min-width:992px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666666666666%
    }
    .col-sm-10 {
        width: 83.33333333333334%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666666666666%
    }
    .col-sm-7 {
        width: 58.333333333333336%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666666666667%
    }
    .col-sm-4 {
        width: 33.33333333333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.666666666666664%
    }
    .col-sm-1 {
        width: 8.333333333333332%
    }
}

@media(max-width:576px) {
    .col-sm-9 {
        padding-left: 4px;
        padding-right: 4px
    }
    .col-sm-3 {
        padding-left: 4px;
        padding-right: 4px
    }
    .col-sm-10 {
        font-size: 14px !important
    }
    .col-sm-10 p {
        font-size: 14px !important;
        word-break: normal
    }
    .col-sm-10 li {
        font-size: 14px !important;
        word-break: normal
    }
    .col-sm-10 H2 {
        font-size: 1.4rem !important
    }
    .col-sm-10 H3 {
        font-size: 1.2rem !important
    }
    .col-sm-10 H4 {
        font-size: 1.0rem !important;
        color: #4dd0e1 !important
    }
    .col-sm-10 H5 {
        font-size: 1.0rem !important;
        color: #4dd0e1 !important
    }
}

@media(min-width:992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666666666666%
    }
    .col-md-10 {
        width: 83.33333333333334%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666666666666%
    }
    .col-md-7 {
        width: 58.333333333333336%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666666666667%
    }
    .col-md-4 {
        width: 33.33333333333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.666666666666664%
    }
    .col-md-1 {
        width: 8.333333333333332%
    }
}


/* 显隐控制 */

.visible-xs {
    display: none !important
}

@media(max-width :992px) {
    .visible-xs {
        display: block !important
    }
    .hidden-xs {
        display: none !important
    }
}


/* ===========================
   文本排版：标题、段落与强调
   =========================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1;
    color: inherit
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

p {
    margin-bottom: 10px
}

b,
strong {
    font-weight: bold
}


/* 文本工具类 */

.text-c {
    text-align: center
}

.mt-20 {
    margin-top: 20px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-20 {
    margin-bottom: 20px
}

.pt-10 {
    padding-top: 10px
}

.pt-20 {
    padding-top: 25px
}

.pb-10 {
    padding-bottom: 10px
}

.radius {
    border-radius: 4px
}


/* 通用外观工具类 */

.box-shadow {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

.bg-fff {
    background-color: #fff
}

a {
    color: #222
}


/* ===========================
   导航栏与菜单
   =========================== */

.navbar {
    position: relative;
    z-index: 1000;
    background-color: #fff
}

.nav {
    z-index: 1000
}

.nav>ul {
    font-size: 0;
    line-height: 0
}

.nav>ul>li {
    position: relative;
    float: left
}

.navbar-nav>ul>li,
.navbar-nav>ul>li>a {
    line-height: 44px;
    font-size: 16px
}

.navbar.navbar-fixed-top {
    border-bottom: 1px #222 solid
}

.nav>ul>li>a.active {
    color: #000
}

.nav>ul>li>a {
    padding: 0 30px;
    outline: none;
    color: #838383;
    text-decoration: none;
    letter-spacing: 5px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.25em
}

.nav>ul>li:first-child>a {
    padding-left: 5px
}

.nav>ul>li:last-child>a {
    padding-right: 5px
}


/* 导航栏小屏适配 */

@media(max-width:992px) {
    .navbar-wrapper {
        height: 45px !important
    }
    .logo {
        margin-right: 0
    }
    .navbar .logo {
        height: 44px !important;
        line-height: 44px !important
    }
    .navbar-nav {
        display: none;
        float: none !important
    }
    .navbar-nav>ul>li {
        width: 100%;
        text-align: left;
        border-bottom: solid 1px #eee
    }
    .navbar-nav>ul>li>a {
        display: block;
        padding: 0 15px;
        text-align: left
    }
}


/* ===========================
   面板与页脚
   =========================== */

.panel {
    background-color: #fff;
    border: solid 1px transparent
}

.panel-body {
    padding: 10px
}

.panel-default {
    border-color: #ddd
}

.footer {
    border-top: 1px solid #bbb;
    padding: 10px 0;
    font-family: tahoma, Arial;
    font-size: 14px;
    color: #222;
    line-height: 22px;
    text-align: center
}

.footer a,
.footer a:hover {
    color: #666
}


/* ===========================
   侧边卡片：分类 Tab 与友链标签
   =========================== */

.tab-category a {
    display: inline-block;
    border-bottom: 3px solid #9E9E9E;
    margin: 0 5px;
    pointer-events: none;
}


/* 友链 Tag 风格（动态 class：tags0 ~ tags8） */

.tags0 {
    color: #0056b3;
    font-weight: bold;
    font-size: 17px;
}

.tags1 {
    color: #3366CC;
    font-weight: bold;
    font-size: 15px;
}

.tags2 {
    color: #95d475;
    font-size: 16px;
}

.tags3 {
    color: #9966CC;
    font-size: 18px;
}

.tags4 {
    color: #6633CC;
    font-weight: bold;
    font-size: 19px
}

.tags5 {
    color: #336600;
    font-weight: bold;
    font-size: 20px
}

.tags6 {
    color: #222226;
    font-size: 15px
}

.tags7 {
    color: #529b2e;
    font-size: 16px
}

.tags8 {
    color: #4dd0e1;
    font-weight: bold;
    font-size: 17px;
}

.tags a:hover {
    color: #F00;
}

.tab-category strong {
    color: #fff;
    background-color: #555555;
    margin: -1px 0 5px 0;
    display: inline-block;
    padding: 4px 15px;
    font-size: 14px;
}

.tab-category-item {
    border-top: 1px solid #EDEDED;
    padding: 10px 12px;
}

.tags a {
    line-height: 1.5;
    margin-right: 16px;
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
    background: linear-gradient(to right, #F00 0%, #F00) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 0.35s;
}

.tags a:hover {
    background-size: 100% 2px;
    background-position: left bottom;
}


/* ===========================
   列表页：文章列表与提示卡片
   =========================== */

.index_arc .no_pic {
    padding: 20px;
}

.tipCard {
    margin-top: 0;
}


/* 注意：下方重复定义 .tab-category-item，仅为兼容旧写法，保持不动 */

.tab-category-item {
    border-top: 1px solid #EDEDED;
    padding: 10px 12px 10px 12px;
}


/* ==============
   全局表单与对话框统一样式（从各组件抽取，供所有弹窗共享）
   ============== */

.form-item {
    margin-bottom: 20px;
}

.form-item:last-child {
    margin-bottom: 0;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #606266;
    font-weight: 500;
}

.form-hint {
    margin-top: 5px;
    font-size: 12px;
    color: #909399;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


/* 限制常见对话框最大高度，避免超出视口（适配 .share-dialog-wrapper 等类名） */

.share-dialog-wrapper .el-dialog,
.fetch-json-main-dialog .el-dialog,
.config-delete-dialog-wrapper .el-dialog {
    max-height: calc(100vh - 12vh);
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.autocomplete-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.path-text {
    flex: 1;
    font-size: 13px;
    color: #303133;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.path-type {
    font-size: 11px;
    color: #909399;
    padding: 2px 6px;
    margin-left: 8px;
    white-space: nowrap;
}

.item-meta {
    font-size: 11px;
    color: #909399;
    padding: 2px 6px;
    background: #f5f7fa;
    border-radius: 12px;
}